---
layout: page
title: 
subtitle: 
use-site-title: true
fb-img:
---

<img src="{{ site.baseurl }}/assets/img/USRSE_Conference23_CityscapeBanner_FreeToUsePhoto.png" style="width:100%">

<hr>

<div class="main-explain-area jumbotron">

<center>
<h1>Software-Enabled Discovery and Beyond</h1>
<script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script><a data-type="countdown" data-id="3870136" class="tickcounter" style="display: block; width: 50%; position: relative; padding-bottom: 15%" title="Countdown" href="//www.tickcounter.com/">Countdown</a>
<br>
<a type="button" style="margin:auto 10px; -webkit-appearance: none;" class="btn btn-light btn-lg" href="https://www.eventbrite.com/e/us-rse-conference-2023-software-enabled-discovery-and-beyond-tickets-625867314987" target="_blank">
    Register Now
</a>

</center>

  <h3>But what <i>is</i> an RSE?</h3>

  <p>We like an inclusive definition of Research Software Engineers (RSEs) to encompass those who regularly use expertise in programming to advance research.
  This includes researchers who spend a significant amount of time programming, full-time software engineers writing code to solve research problems,
  and those somewhere in-between. We aspire to apply the skills and practices of software development to research to create more robust,
  manageable, and sustainable research software.
  Read more on the <a href="https://us-rse.org/" target="_blank">US-RSE website</a>.</p>

  <p>The theme of this year’s conference will be
  "Software-Enabled Discovery and Beyond." As such, topics of interest
  include (but are not limited to):</p>

  <ul>
    <li>Discovery enabled by software</li>
    <li>Architectures, frameworks, libraries, and technology trends</li>
    <li>Research data management</li>
    <li>Support for scalability and data-driven methods</li>
    <li>Improving the reproducibility of research</li>
    <li>Usability, portals, workflows, and tools</li>
    <li>Sustainability, security, and stability</li>
    <li>Software engineering approaches supporting research</li>
    <li>Community engagement</li>
    <li>Diversity, Equity and Inclusion for RSEs and in RSEng</li>
    <li>Training and workforce development</li>
    <li>Building an RSE profession</li>
  </ul>
  
  <center>
  <h2>Our Sponsors</h2>
  
  <h3>Diamond</h3>
  <a href="https://sloan.org/" target="_blank">
    <img src="{{ site.baseurl }}/assets/img/sponsor-logos/sloan.png" alt="Alfred P. Sloan Foundation" style="height:300px;width:auto;">
  </a>
  <br><br>
  <h4>Platinum</h4>
  <br>
  <a href="https://www.ncsa.illinois.edu" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/NCSA.png" alt="National Center for Supercomputing Applications" style="height:200px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.princeton.edu/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Princeton_seal.svg/280px-Princeton_seal.svg.png" alt="Princeton University Logo" style="height:200px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.sandia.gov/" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/SNL.png" alt="Sandia National Labs - Sandia National Laboratories" style="height:200px;width:auto;"></a>
  <br><br><br>
  <h4>Gold</h4>
  <a href="https://jetstream-cloud.org/" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/Jetstream.svg" alt="JetStream2" style="height:65px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.lanl.gov/" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/LANL.png" alt="Los Alamos National Laboratory" style="height:65px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.cendio.com/" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/ThinLinc.png" alt="Cendio ThinLinc" style="height:65px;width:auto;"></a>
  <!-- Have not yet paid
  <br>
  <a href="" target="_blank"><img src="" alt="" style="height:150px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="" target="_blank"><img src="" alt="" style="height:150px;width:auto;"></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="" target="_blank"><img src="" alt="" style="height:150px;width:auto;"></a>
  <br>
  -->
  <br><br>
  <h4>Silver</h4>
  <a href="https://chanzuckerberg.com/" target="_blank"><img src="{{ site.baseurl }}/assets/img/sponsor-logos/CZI.svg" alt="Chan Zuckerberg Institute" style="height:100px;width:auto;"></a>
  
  <!-- Have not yet paid
  <h4>Bronze</h4>
  <br>
  <a href="" target="_blank"><img src="" alt="" style="height:150px;width:auto;"></a>
  <br>
  -->
  
  </center>
  
  <h3> Important Dates </h3>
  <ul>
  <li><b>Tutorials</b>: October 2-13, 2023, Virtual</li>
  <li><b>Conference Date</b>: October 16-18, 2023, Chicago, IL</li>
  </ul>
  
  <h3> Have questions? </h3>
  <p>
  Contact the organizers at <a href="mailto:usrsecon2023@easychair.org">usrsecon2023@easychair.org</a>.
  </p>

</div>


<h1><center> Conference News & Updates </center> </h1>
<hr>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
        <br>
        <hr>
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
